@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: inherit;
  font-weight: inherit;
}

*::selection {
  background-color: #ffb8b8;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #222;
  overflow-x: hidden;
}

button,
img {
  user-select: none;
}

img {
  object-fit: cover;
}

.rdrDayNumber {
  font-weight: 600 !important;
}

a.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-bottom-right {
  display: none;
}
